{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="body">
    <div class="section mt-3 mb-3">
        <div class="card content-card">
            <div class="card-body row">
                <div class="col-sm">
                    Number
                  </div>
                  <div class="col-sm">
                    First Name
                  </div>
                  <div class="col-sm">
                    Last Name
                  </div>
                  <div class="col-sm">
                    Contact Number
                  </div>
            </div>
        </div>
    </div>

{% endblock content %}
