{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
    <link rel="stylesheet" href="{% static 'employees/styles.css' %}">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header-employees">
                <h1>Employees</h1>
                <p>{% if employees.exists %}There are {{ employees.count }} employees{% else %}No employees{% endif %}</p>
            </div>
            <div class="header-button">
                <a href="{% url 'new_employee' %}" class="new-employee-btn">
                    <span>+</span> New Employee
                </a>
            </div>
        </header>


        {% if employees.exists %}
        <div class="employee-list">
            {% for employee in employees %}
            <div class="employee-card">
                <p><strong>{{ employee.first_name }} {{ employee.last_name }}</strong></p>
                <p>{{ employee.email }}</p>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="empty-state">
            <img src="{% static 'employees/Icon.JPG' %}" alt="No employees" class="empty-state-image">
            <p>There is nothing here</p>
            <br/>
            <p>Create a new employee by clicking the </p>
            <p><strong>New Employee</strong> button to get started</p>
        </div>
        {% endif %}
    </div>
</body>
</html>